In [ ]:
#pip install datanews

In [1]:
import requests
import pandas as pd
import json
from path import Path
from dotenv import load_dotenv
import os
import requests
import datanews
from datetime import datetime
import asyncio
import time

In [2]:
# Laod .env environment
load_dotenv()

True

In [3]:
# Load API Key
datanews.api_key = os.getenv("datanews.api_key")
type(datanews.api_key)

str

In [4]:
# Create a desired date range for news articles
datelist = pd.DataFrame(pd.period_range(start ='5/5/2016', end = '5/5/2021', freq ='D'), columns = ['Date'])
datelist

            Date
0     2016-05-05
1     2016-05-06
2     2016-05-07
3     2016-05-08
4     2016-05-09
5     2016-05-10
6     2016-05-11
7     2016-05-12
8     2016-05-13
9     2016-05-14
10    2016-05-15
11    2016-05-16
12    2016-05-17
13    2016-05-18
14    2016-05-19
15    2016-05-20
16    2016-05-21
17    2016-05-22
18    2016-05-23
19    2016-05-24
20    2016-05-25
21    2016-05-26
22    2016-05-27
23    2016-05-28
24    2016-05-29
25    2016-05-30
26    2016-05-31
27    2016-06-01
28    2016-06-02
29    2016-06-03
...          ...
1797  2021-04-06
1798  2021-04-07
1799  2021-04-08
1800  2021-04-09
1801  2021-04-10
1802  2021-04-11
1803  2021-04-12
1804  2021-04-13
1805  2021-04-14
1806  2021-04-15
1807  2021-04-16
1808  2021-04-17
1809  2021-04-18
1810  2021-04-19
1811  2021-04-20
1812  2021-04-21
1813  2021-04-22
1814  2021-04-23
1815  2021-04-24
1816  2021-04-25
1817  2021-04-26
1818  2021-04-27
1819  2021-04-28
1820  2021-04-29
1821  2021-04-30
1822  2021-05-01
1823  2021-05-02
1824  2021-05-03
1825  2021-05-04
1826  2021-05-05

[1827 rows x 1 columns]

In [5]:
# Grab data from DataNews Api and load it into a dataframe
dogecoin_appended_df = pd.DataFrame()
for i in datelist.index:
        time.sleep(.5)
        #print(str(datelist['Date'].values[i]))
        response = datanews.news(q='Dogecoin', language=['en'], from_date = str(datelist['Date'].values[i]), to_date = str(datelist['Date'].values[i]))
        if len(response['hits']) > 0:
            articles = response['hits']
            dogecoin_df = pd.DataFrame(articles).fillna(0)
            dogecoin_summary_df = bitcoin_df.loc[:,['pubDate','title','content']]
            dogecoin_summary_df.pubDate = pd.to_datetime(dogecoin_summary_df.pubDate)
            dogecoin_summary_df.set_index('pubDate', inplace = True)
            dogecoin_summary_df.columns = ['Title','Content']
            dogecoin_summary_df.index.names = ['Published Date']
            dogecoin_appended_df = dogecoin_appended_df.append(dogecoin_summary_df)

In [7]:
# Check dataframe
dogecoin_appended_df.head()

,Title,Content
Published Date,,
2017-09-15 21:01:43+00:00,Is There a Cryptocurrency Bubble? Just Ask Doge.,"Jackson Palmer, creator of Dogecoin, in San Fr..."
2017-11-08 19:19:22+00:00,SegWit2x Hard Fork Called Off: â€˜Common Senseâ€™ ...,The controversial SegWit2x fork has been suspe...
2018-01-25 16:59:08+00:00,Cryptocurrency Scammers Are Running Wild On Te...,Messaging app Telegram started out as a WhatsA...
2018-10-20 11:45:03+00:00,UK Money Management App Emma Makes Crypto Push,The startup is behind the Emma app for iOS and...
2019-04-25 00:51:55+00:00,Yelp's Bitcoin Filter Could Kickstart Weak Cry...,By CCN: As bitcoinâ€™s price experienced a surge...

In [8]:
# Turn dataframe into csv
dogecoin_appended_df.to_csv('DataNews_Dogecoin.csv',  index = True)